/* # Credentials */
.credential-area {
    padding-top: 80px;
}

.credential-area .gx-row {
    gap: 80px;
}

.credential-area .credential-sidebar {
    width: 370px;
    flex: none;
    position: sticky;
    top: 10%;
}

.credential-area .credential-sidebar .shadow-box {
    padding: 24px 24px 34px 24px;

}

.credential-area .credential-sidebar::after {
    opacity: 0.25;
}

.credential-area .credential-sidebar .img-box {
    background: linear-gradient(90deg, #3C58E3 -15%, #C2EBFF 58%, #5AB5E2 97%);
    border-radius: 30px;
    margin-bottom: 40px;
}

.credential-area .credential-sidebar .img-box img {
    display: block;
    margin: auto;
    border-radius: 30px;
}

.credential-area .credential-sidebar p {
    color: #BCBCBC;
    opacity: 0.5;
    font-size: 16px;
    margin-bottom: 34px;
}

.credential-area .credential-sidebar h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 26px;
}

.credential-area .credential-sidebar .social-links {
    gap: 10px;
    margin-bottom: 36px;
}

.credential-area .credential-sidebar .social-links li a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    line-height: 43px;
    color: #fff;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    transition: .3s;
}

.credential-area .credential-sidebar .social-links li a:hover {
    /* background: #ffffff; */
    background: linear-gradient(0deg, #0f15221a, #040a1705);
    color: #fff;
}

.credential-area .credential-sidebar .theme-btn {
    width: 100%;
    border-radius: 16px;
}


.credential-area .credential-content .credential-about {
    padding-bottom: 110px;
}

.credential-area .credential-edc-exp h2,
.credential-area .credential-content .credential-about h2 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.credential-area .credential-content .credential-about h2 {
    margin-bottom: 37px;
}

.credential-area .credential-content .credential-about p {
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
    line-height: 1.56;
    margin-bottom: 30px;
}

.credential-area .credential-content .credential-about p:last-child {
    margin-bottom: 0;
}

.credential-area .credential-experience,
.credential-area .credential-education {
    margin-bottom: 85px;
}

.credential-area .credential-edc-exp h2 {
    margin-bottom: 22px;
}

.credential-area .credential-edc-exp .credential-edc-exp-item + .credential-edc-exp-item {
    margin-top: 58px;
}

.credential-area .credential-edc-exp .credential-edc-exp-item h4 {
    color: #BCBCBC;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 500;
}

.credential-area .credential-edc-exp .credential-edc-exp-item h3 {
    font-size: 18px;
    color: var(--primary_color);
}

.credential-area .credential-edc-exp .credential-edc-exp-item h5 {
    font-size: 14px;
    color: #BCBCBC;
    opacity: 0.6;
    font-weight: 400;
}

.credential-area .credential-edc-exp .credential-edc-exp-item p {
    margin: 0;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    line-height: 1.56;
}

.credential-area .skills-wrap h2 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.credential-area .skills-wrap .skill-items {
    grid-template-columns: 1fr 1fr;
}

.credential-area .skills-wrap .skill-item {
    width: 50%;
}

.credential-area .skills-wrap .skill-item .percent {
    color: #BCBCBC;
    opacity: 0.6;
    display: block;
    font-weight: 500;
    margin-bottom: 9px;
}

.credential-area .skills-wrap .skill-item .name {
    color: #FFFFFF;
    opacity: 0.9;
    font-size: 18px;
    margin-bottom: 4px;
}

.credential-area .skills-wrap .skill-item p {
    color: #BCBCBC;
    opacity: 0.6;
    font-size: 14px;
    margin: 0;
}

.credential-area .awards-wrap {
    padding-top: 100px;
}

.credential-area .awards-wrap.skills-wrap .skill-items {
    grid-template-columns: 1fr;
}

.credential-area .awards-wrap.skills-wrap .skill-item {
    width: 100%;
}

@media (max-width: 810px) {
    .credential-area .credential-sidebar {
        width: 100% !important;
    }

    .credential-area .container .gx-row {
        gap: 40px;
    }
}